# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python cache and logs
*.log
*.pot
*.pyc

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Media files (optional: if you want to exclude test recordings or outputs)
*.avi
*.mp4
*.jpg
*.png

# TFLite models (if generated during runtime)
*.tflite

# IDEs
.idea/
